@model Consoller.Areas.Auth.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Auth/Views/Shared/Profile.cshtml";
}
<h2><b>Inquiry Category</b></h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Categoryid }) |
     @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
</p>
