@model Consoller.Areas.Auth.Models.tblreceptionist
@using Consoller.Areas.Auth.Models
@{
    Layout = null;
    dbcontext db = new dbcontext();
    tblreceptionist rr = db.tblreceptionists.FirstOrDefault(x => x.Type == "Admin");
    tblreceptionist recp = new tblreceptionist();
}

<!DOCTYPE html>

<html lang="en">

<!-- Mirrored from themesbrand.com/skote-mvc/vertical/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Apr 2020 17:16:06 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Login |</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="home-btn d-none d-sm-block">
        <a href="index.html" class="text-dark"><i class="fas fa-home h2"></i></a>
    </div>
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5 text-muted">
                        <a href="index.html" class="d-block auth-logo">
                            <img src="assets/images/logo-dark.png" alt="" height="20" class="auth-logo-dark mx-auto">
                            <img src="assets/images/logo-light.png" alt="" height="20" class="auth-logo-light mx-auto">
                        </a>
                    
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">

                        <div class="card-body">

                            <div class="p-2">
                                <div class="text-center">

                                    <div class="avatar-md mx-auto">
                                        <div class="avatar-title rounded-circle bg-light">
                                            <i class="bx bxs-envelope h1 mb-0 text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="p-2 mt-4">

                                        <h4>Verify your Phone</h4>
                                        <p class="mb-5">Please enter the 6 digit code </p>

                                        @using (Html.BeginForm("OTP", "Accounts", new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
                                        {
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="digit1-input" class="sr-only">OTP</label>
                                                        @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @placeholder = "Enter OTP", requires = "", @class = "form-control" } })
                                                    </div>
                                                </div>


                                            </div>


                                            <div class="mt-4">
                                                <input type="submit" value="Confirm" class="btn btn-success w-md" />

                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <p>Did't receive a code ? <a href="@Url.Action("Login","Credential")" class="font-weight-medium text-primary"> Resend </a> </p>
                        <p>
                            ©
                            <script>document.write(new Date().getFullYear())</script>2021 Bluebird. Crafted with <i class="mdi mdi-heart text-danger"></i> by Official Solutions
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @{
        var success = TempData["Success"];
        var danger = TempData["danger"];
    }
    @if (success != null)
    {
        <div class="container" style="position:fixed;left: 0px;top: 0px;right: 0px;">
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> @success
            </div>
        </div>
    }
    @if (danger != null)
    {
        <div class="container" style="position:fixed;left: 0px;top: 0px;right: 0px;">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Sorry!</strong> @danger
            </div>
        </div>
    }
    <script>
        var message;
         danger = '@TempData["danger"]'
        message = '@TempData["Success"]'
        debugger;
        if (message != '')
        {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
        }
        if (danger != '') {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
        }

    </script>

</body>
<!-- Mirrored from themesbrand.com/skote-mvc/vertical/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Apr 2020 17:16:06 GMT -->
</html>