<div class="modal fade colored-header colored-header-primary" id="form-bp1" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-colored">
                <h3 class="modal-title">Form Modal</h3>
                <button class="close md-close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close">       </span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Email address.</label>
                    <input class="form-control" type="email" placeholder="username@example.com">
                </div>
                <div class="form-group">
                    <label>Your name</label>
                    <input class="form-control" type="text" placeholder="John Doe">
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Your birth date</label>
                    </div>
                </div>
                <div class="row no-margin-y">
                    <div class="form-group col-sm-3">
                        <input class="form-control" type="text" placeholder="DD">
                    </div>
                    <div class="form-group col-sm-3">
                        <input class="form-control" type="text" placeholder="MM">
                    </div>
                    <div class="form-group col-sm-3">
                        <input class="form-control" type="text" placeholder="YYYY">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="custom-checkbox custom-control">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Send me notifications about new products and services.</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary md-close" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary md-close" type="button" data-dismiss="modal">Proceed</button>
            </div>
        </div>
    </div>
</div>
